terratowns_endpoint="https://terratowns.cloud/api"

family_event = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/family_event"
  content_version = 2 
}
meal_event = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/meal_event"
  content_version = 1 
}