user_uuid="eb232a0a-c905-4cb7-b4a6-8b670bacba5a"
bucket_name="bjw1odohel7gd3kj"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"